@tailwind base;
  @tailwind components;
  @tailwind utilities;



  :root {
    --foreground: black;
    --background: #ffffff;
    --background-color: rgb(241 245 249);
  }
  .dark {
    --background: url('/bg.png');
    --foreground: white;
    --background-color: #0A0F4F;

  }
  html{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }

  body {
    
    color: rgb(var(--foreground-rgb));
  
  }

  .rti--tag{
    padding: 13px!important;
    background-color: var(--background-color)!important;
  }
  
  .rti--input{
    padding: 13px!important;
    background-color: transparent!important;
    width: 100%!important;
    border-radius: 13px!important;
    border: rgb(63 63 70) 1px solid!important;
  }
  
  .rti--container{
    background-color: rgba(0, 0, 0, 0)!important;
    border: none!important;
    padding: 0!important;
  
  }
  .rti--input:focus{
    border: var(--foreground) 1px solid!important;
  }
  .rti--container:focus-within{
    box-shadow: none!important;

  }
  .cm-scroller{
    min-height: 400px!important;
  }
  .cm-editor{
    border-radius: 0.75rem!important; 
  }


  
.no-visible-scrollbar {
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.scrollbar::-webkit-scrollbar {
  width: 30px;
}
.scrollbar::-webkit-scrollbar-corner{
  width: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border: 12px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

.scrollbar::-webkit-scrollbar-track {
  display: none;
}

.hero-text{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, #090F4f 0%, #04093d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .hero-text {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(160, 160, 160) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cm-scrollbar::-webkit-scrollbar {
  display: none;
}

.skeleton{
  animation-duration: 5s!important;
}

.gradientLine{
  background: linear-gradient(90deg, rgba(56, 189, 248, 0) 0%, rgba(56, 189, 248, 0) 0%, rgba(232, 232, 232, 0.2) 33.02%, rgba(143, 143, 143, 0.67) 64.41%, rgba(236, 72, 153, 0) 98.93%);
}

.preview{
  scale: 0.7!important;
}
