@tailwind base;
  @tailwind components;
  @tailwind utilities;



  :root {
    --foreground: black;
    --background: url('/bglight.jpg');
    --background-color: #ffffff;
  }
  .dark {
    --background: url('/bg.png');
    --foreground: white;
    --background-color: #1b1b1b;

  }
  body {
    background-size: cover;
    min-height: 100vh;
    color: rgb(var(--foreground-rgb));
  
  }

  .rti--tag{
    padding: 13px!important;
    background-color: var(--background-color)!important;
  }
  
  .rti--input{
    padding: 13px!important;
    background-color: var(--background-color)!important;
    width: 100%!important;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  .rti--container{
    background-color: rgba(0, 0, 0, 0)!important;
    border: none!important;
    margin: 30px!important;
    padding: 0!important;
  
  }
  .rti--input:focus{
    border: #1b1b1b 1px solid!important;
  }
  .rti--container:focus-within{
    box-shadow: none!important;

  }
  .cm-scroller{
    min-height: 400px!important;
  }
  .cm-editor{
    border-radius: 0.75rem!important; 
  }


  
.no-visible-scrollbar {
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.scrollbar::-webkit-scrollbar {
  width: 30px;
}
.scrollbar::-webkit-scrollbar-corner{
  width: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border: 12px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

.scrollbar::-webkit-scrollbar-track {
  display: none;
}

.hero-text{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgb(5, 5, 5) 0%, rgb(41, 41, 41) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .hero-text {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(160, 160, 160) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cm-scrollbar::-webkit-scrollbar {
  display: none;
}

.skeleton{
  animation-duration: 5s!important;
}

